name: Build with .NET on Ubuntu

on: push

jobs:
  build_dotnet:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        version: [8.0.x, 9.0.x]
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.version }}
      - name: Build
        run: dotnet build msi-info/msi-info.sln
